<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.sanket.application.pojo.User" />
		<mapping class="com.sanket.application.pojo.Authority" />
		<mapping class="com.sanket.application.pojo.UserDetails" />
		<!-- DB schema will be updated if needed -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
	</session-factory>
</hibernate-configuration>